<section class="main-landing">

  <div class="main">

    <div class="title">
      <h1>JONATHAN MICHUTTA</h1>
      <div class="subtitle">
        <h2><span class="code-angle">&lt;</span> FRONTEND DEVELOPER /></h2>
        <h3>& Mediengestalter</h3>
      </div>
    </div>

    <div class="about-foot">

      <div class="box-tools">
        @for (icon of toolsIcons; track icon.name) {
        <img [src]="icon.icon" [alt]="icon.name" class="tool-icon" />
        }
      </div>

      <div class="box-link dNone">
        <app-links-img (mailClicked)="toggleEmail()"></app-links-img>
      </div>

    </div>

  </div>

  <div class="mail-wrapper" [class.visible]="showEmail">
    {{ 'front-dev@jonathan-michutta.de' }}
  </div>


</section>