<section class="main-landing">
  <div class="main">
    <div class="title">
      <h1>JONATHAN MICHUTTA</h1>
      <div class="subtitle">
        <h2><span class="code-angle">&lt;</span> {{ 'landing.title' | translate }} /></h2>
        <h3>{{ 'landing.subtitle' | translate }}</h3>
      </div>
    </div>
    <div class="about-foot">
      <div class="box-tools">
        @for (icon of toolsIcons; track icon.name) {
        <img [src]="icon.icon" [alt]="icon.alt | translate" class="tool-icon" />
        }
      </div>
      <div class="box-link dNone">
        <app-links-img [isEmailVisible]="showEmail" (mailClicked)="toggleEmail()"></app-links-img>
      </div>
    </div>
  </div>
  <div class="dialog-copy" [class.visible]="showCopyDialog" aria-live="polite" role="status">
    <span>{{ 'landing.copied' | translate }}</span>
    <svg class="check-icon" viewBox="0 0 24 24">
      <path d="M5 13l4 4L19 7" stroke="#096B68" stroke-width="4" fill="none" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div #mailWrapper class="mail-wrapper" [class.visible]="showEmail">
    <a class="mail-text" aria-label="E-Mail senden an Jonathan" href="mailto:front-dev@jonathan-michutta.de">
      front-dev&#64;jonathan-michutta.de
    </a>
    <button class="copy-btn" (click)="copyEmail()" [class.clicked]="emailCopied"
      [attr.aria-label]="'landing.copyAria' | translate">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="9" y="9" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" />
        <rect x="3" y="3" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" opacity="0.5" />
      </svg>
    </button>
  </div>
</section>