<section class="main-landing" [class.animate-in]="isAppReadyForTransition">
  <div class="main">
    <div class="title">
      <h1 class="fade-title" [class.animate-in]="showBoxes && !scrolledAway && isAppReadyForTransition" tabindex="0"
        aria-label="Jonathan Michutta – Frontend Developer">JONATHAN MICHUTTA</h1>
      <div class="easter-egg-hint" aria-hidden="true">{{ 'landing.egg' | translate }}</div>
      <div class="subtitle">
        <h2 class="fade-subtitle" [class.animate-in]="showBoxes && !scrolledAway && isAppReadyForTransition">
          {{ 'landing.title' | translate }}
        </h2>
        <!-- <h3 class="fade-subtitle" [class.animate-in]="showBoxes && !scrolledAway && isAppReadyForTransition">{{
          'landing.subtitle' | translate }}</h3> -->
      </div>
      <p class="info-process">{{ 'landing.accessibilityNote' | translate }}</p>
    </div>
    <div class="about-foot">
      <div class="box-tools" [class.animate-in]="showBoxes && !scrolledAway && isAppReadyForTransition" role="region"
        [class.slide-out]="scrolledAway || !isAppReadyForTransition">
        @for (icon of filteredToolsIcons; track icon.name) {
        <img [src]="icon.icon" [alt]="icon.alt | translate" class="tool-icon" />
        }
      </div>
      <div class="box-link dNone" [class.animate-in]="showBoxes && !scrolledAway && isAppReadyForTransition"
        [class.slide-out]="scrolledAway || !isAppReadyForTransition">
        <app-links-img [context]="'landing'" [isEmailVisible]="showEmail()" [showCopyDialog]="showCopyDialog()"
          (mailClicked)="toggleEmail()">
        </app-links-img>
      </div>
    </div>
  </div>
</section>
@if (showLandingToast()) {
<app-mail-toast [context]="'landing'" [showEmail]="mailToastService.showEmail"
  [emailCopied]="mailToastService.emailCopied" [showCopyDialog]="mailToastService.showCopyDialog"
  (emailClosed)="onEmailClosed()" (emailCopiedSuccess)="onEmailCopied()" />
}