<section class="feedback-page">
  <div class="feedback-content">
    <div class="feedback-window">
      <h2 class="feedback-headline">Referenzen</h2>
      <div class="feedback-body">
        <div class="box">
          <div class="box-content">
            <p>"Jon war immer mit vollem Einsatz dabei und offen für jede Aufgabe. Besonders schätzenswert fand ich, wie
              vielseitig er sich eingebracht hat – das hat die Zusammenarbeit nicht nur produktiv, sondern auch sehr
              angenehm gemacht. Der Austausch war dabei stets offen, herzlich und kollegial."</p>
            <div class="feedback-author-box">
              <a href="https://www.linkedin.com/in/patrick-frey-690000164/" target="_blank"><img
                  src="./../../../assets/icons/white/linkedin_white.png" alt="linkedin" /></a>
              <p class="feedback-author">Patrick Frey - Join</p>
            </div>
          </div>
          <div class="box-content">
            <p>"Jonathan war ein sehr angenehmer Teamkollege, der durch seine ruhige, strukturierte Art viel Stabilität
              ins Team gebracht hat. Seine Stärken lagen vor allem im Bereich UI-Design, CSS und Angular-Logik.
              Besonders geschätzt habe ich, dass er immer mitgedacht hat und technische Zusammenhänge klar kommunizieren
              konnte."</p>
            <div class="feedback-author-box">
              <a href="https://www.linkedin.com/in/stephanie-englberger/" target="_blank"><img
                  src="./../../../assets/icons/white/linkedin_white.png" alt="linkedin" /></a>
              <p class="feedback-author">Stephanie Englberger - Join</p>
            </div>
          </div>
          <div class="box-content">
            <p>"Jonathan war von Anfang an voll integriert und hat sich sowohl fachlich als auch menschlich super ins
              Team eingefügt. Der Austausch war unkompliziert, produktiv und von gegenseitiger Wertschätzung geprägt.
              Besonders beeindruckt hat mich, wie schnell er sich in komplexe Themen eingearbeitet hat und stets die
              Ruhe bewahrte."</p>
            <div class="feedback-author-box">
              <a href="https://www.linkedin.com/in/jennifer-thomas-595735360/" target="_blank"><img
                  src="./../../../assets/icons/white/linkedin_white.png" alt="linkedin" /></a>
              <p class="feedback-author">Jennifer Thomas - Join</p>
            </div>
          </div>
          <div class="box-content">
            <p>"Jon hat sich als selbstständig, engagiert und lösungsorientiert erwiesen. Seine Medienkompetenz und sein
              kreativer Ansatz haben das Design und die Nutzererfahrung des Projekts deutlich bereichert. Mit seiner
              positiven Einstellung und seinem Einsatz war er eine echte Bereicherung für das Team."</p>
            <div class="feedback-author-box">
              <a href="https://www.linkedin.com/in/dao-cong-viet-ha/" target="_blank"><img
                  src="./../../../assets/icons/white/linkedin_white.png" alt="linkedin" /></a>
              <p class="feedback-author">Ha Dao / Kochwelt</p>
            </div>
          </div>
          <div class="box-content">
            <p>"Ich hatte das Vergnügen, mit Jonathan an einem Website-Projekt zu arbeiten, und war beeindruckt von
              seiner Begeisterung fürs Coden. Er hat neue Konzepte schnell verstanden und sie zielsicher ins Projekt
              eingebracht. Ruhig, fokussiert und immer mit dem Ziel, gemeinsam gute Lösungen zu finden."</p>
            <div class="feedback-author-box">
              <p class="feedback-author">Taher Abdel Megid / Kochwelt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>