<section class="feedback-page">
  <div class="feedback-content">
    <div class="feedback-window">
      <h4 class="feedback-headline" tabindex="0">{{ 'feedback.title' | translate }}</h4>
      <div class="feedback-body">
        <div class="box">
          @for (entry of feedbacks; track entry.key) {
          <div class="box-content" tabindex="0">
            <p tabindex="0">{{ 'feedback.' + entry.key + '.text' | translate }}</p>
            <div class="feedback-author-box">
              @if (entry.linkedin) {
              <a [href]="entry.linkedin" target="_blank" rel="noopener noreferrer">
                <img src="./../../../assets/icons/white/svg/logo_linkedin.svg" alt="linkedin" />
              </a>
              }
              <p class="feedback-author" tabindex="0">{{ entry.name }} – {{ entry.source }}</p>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>