@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/font-types.scss";

.feedback-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 200px);
  height: 100%;

  .feedback-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
  }
}

.feedback-body {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  gap: 15px;
  width: 100%;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.20);
  overflow-y: auto;
  max-height: 420px;
}

.box::-webkit-scrollbar {
  width: 10px;
}


.box::-webkit-scrollbar-track {
  background: transparent;
  margin: 40px;
  border-radius: 10px;
  ;
}

.box::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
  margin-right: 10px;
}

.box-content {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  padding: 20px !important;
  min-width: 0px;
  height: auto !important;

  &:focus-visible {
    outline-offset: 3px;
    outline: 2px solid #3dcfb6;
  }

  p {
    color: white;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
  }
}

.feedback-author-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  img {

    &:hover {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
      content: url('./../../../assets/icons/green/svg/logo_linkedin_green.svg');
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus-visible {
      outline-offset: 3px;
      outline: 2px solid #3dcfb6;
      border-radius: 50%;
    }

    img {

      &:hover {
        height: 30px;
        width: auto;
        cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
        content: url('./../../../assets/icons/green/svg/logo_linkedin_green.svg');
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
      }
    }

  }
}

.feedback-window {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 15px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-height: calc(100dvh - 64px);

  &:focus-visible {
    outline-offset: 3px;
    outline: 2px solid #3dcfb6;
  }
}

@media screen and (max-width: 820px) {

  .feedback-page {
    flex-direction: column;
    justify-content: space-between;

    .feedback-content {
      padding: 0;
    }

    .feedback-body {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 600px;
        width: 100%;
        padding: 10px !important;
        min-width: 0 !important;
        height: auto !important;
        border-radius: 20px;
      }
    }
  }

  .feedback-window {
    padding: 10px !important;
    border-radius: 20px;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 500px) {
  .feedback-window {
    padding: 10px !important;
    border-radius: 20px;
  }
}