@import "../../../../assets/styles/mixins.scss";

.lang-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  height: 38px;
  width: 77px;
  padding: 4px;
  box-sizing: border-box;

  .lang-indicator {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 0;
    transform: translateX(0);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &.move-right {
      transform: translateX(36px);
    }
  }

  .lang {
    @include dFlex-center();
    z-index: 1;
    background: transparent;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    cursor: url('./../../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    transition: color 0.3s ease;

    &:focus-visible {
      outline: 2px solid #3DCFB6;
      outline-offset: 0;
      border-radius: 50%;
    }

    &:hover {
      color: #3DCFB6;
    }

    &.active {
      font-weight: 600;
      color: #3DCFB6;
    }
  }
}