<div class="lang-switch" role="group" aria-label="Sprachauswahl">
  <div class="lang-indicator" [class.move-right]="!isGerman()"></div>
  <button class="lang" [class.active]="isGerman()" (click)="setLanguage('de')" [attr.aria-pressed]="isGerman()"
    [attr.aria-label]="isGerman() ? ('lang.deSelected' | translate) : ('lang.deSwitch' | translate)">
    DE
  </button>
  <button class="lang" [class.active]="!isGerman()" (click)="setLanguage('en')" [attr.aria-pressed]="!isGerman()"
    [attr.aria-label]="!isGerman() ? ('lang.enSelected' | translate) : ('lang.enSwitch' | translate)">
    EN
  </button>
</div>