@media screen and (max-width: 870px) {

  .contact-page {
    flex-direction: column;
    justify-content: space-between;

    .contact-content {
      padding: 0;
    }

    .contact-headline {
      margin-bottom: 5px;
      font-size: 24px;
    }

    .contact-body {
      flex-direction: column;
      gap: 5px;

      .contact-info,
      .form-wrapper {
        width: 100%;
        padding: 10px !important;
        max-width: 100% !important;
        min-width: 0 !important;
        height: auto !important;
        border-radius: 20px;
      }

      .contact-info {
        .intro-headline {
          margin-bottom: 5px;
        }

        .sub-headline {
          margin-bottom: 0;
        }

      }
    }

    .footer-section {
      margin-top: 5px;
    }
  }

  .contact-window {
    padding: 10px !important;
    border-radius: 20px;
  }

  .contact-form {
    gap: 10px;
    padding: 0;

    .form-field {
      padding: 8px 15px;
    }

    .name {
      max-width: 240px;
      height: 30px;
    }

    .email {
      max-width: 300px;
      height: 30px;
    }

    .message {
      height: 80px;
      border-radius: 20px;
    }

    .privacy-check {
      gap: 10px;
      padding-left: 10px;

      .custom-checkbox {
        width: 20px;
        height: 20px;
      }

      input:checked+.custom-checkbox::after {
        opacity: 1;
      }
    }

    p {
      font-size: 9px;
    }

    .btn-send {
      font-size: 12px;
      padding: 5px 0;
      max-width: 120px;
      gap: 3px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .input-wrapper {
    .form-warning {
      display: none !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .contact-window {
    padding: 3px !important;
    border-radius: 20px;
  }
}