@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/font-types.scss";

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  height: 100%;

  .contact-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
  }

  .contact-headline {
    margin-bottom: 32px;
  }

  .contact-body {
    display: flex;
    gap: 20px;


    .box-left,
    .box-right {
      width: 100%;
      height: auto;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.20);
    }

    .box-right {
      width: 100%;
      max-width: 800px;
      min-width: 450px;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    .box-left {
      width: 100%;
      max-width: 350px;
      min-width: 150px;
      height: 390px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;



      .intro-headline {
        margin-bottom: 16px;
      }

      .sub-headline {
        color: #3DCFB6;
        margin-bottom: 12px;
      }

      p {
        color: white;
      }

      .highlight-link {
        color: #3DCFB6;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .footer-section {
    margin-top: 15px;
  }
}

.contact-window {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 10px 10px;

  .form-field {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 100px;
    padding: 12px 20px;
    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      outline: 2px solid #3DCFB6;
    }
  }

  .name {
    width: 100%;
    max-width: 280px;
    height: 50px;
  }

  .email {
    width: 100%;
    max-width: 400px;
    min-width: 80px;
    height: 50px;
  }

  .message {
    height: 70px;
    border-radius: 15px;
  }

  .privacy-check {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;


    input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }

    .custom-checkbox {
      width: 20px;
      height: 20px;
      border: 1.5px solid #3DCFB6;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      aspect-ratio: 1;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #3DCFB6;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }

    input:checked+.custom-checkbox::after {
      opacity: 1;
    }
  }


  p {
    color: white;
    margin: 0;
    pointer-events: none;
  }

  a {
    color: #3DCFB6;
    text-decoration: none;
    cursor: pointer;
  }

  .submit-btn {
    background: #3DCFB6;
    color: #096B68;
    font-weight: 600;
    border: none;
    padding: 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #2bc2a5;
    }

    &:disabled {
      background: gray;
      cursor: not-allowed;
    }
  }
}

.honeypot {
  display: none;
}


.btn-send {
  background: transparent;
  border: 2px solid #3DCFB6;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 32px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  max-width: 180px;

  img {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background: rgba(61, 207, 182, 0.2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


@media screen and (max-width: 870px) {

  .contact-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: 100%;

    .contact-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 0;
    }

    .contact-headline {
      margin-bottom: 5px;
    }

    .contact-body {
      display: flex;
      flex-direction: column;
      gap: 5px;


      .box-left,
      .box-right {
        width: 100%;
        padding: 10px !important;
        max-width: 100% !important;
        min-width: 0 !important;
        height: auto !important;
        border-radius: 20px;
      }

      .box-right {}

      .box-left {




        .intro-headline {
          margin-bottom: 8px;
        }

        .sub-headline {
          color: #3DCFB6;
          margin-bottom: 7px;
        }

        p {
          color: white;
        }

        .highlight-link {
          color: #3DCFB6;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }

    .footer-section {
      margin-top: 5px;
    }
  }


  .contact-window {
    padding: 10px !important;
    border-radius: 20px;
  }



  .contact-form {
    gap: 5px;
    padding: 0px 0px;

    .form-field {
      padding: 8px 15px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      outline: 2px solid #3DCFB6;
    }


    .name {
      height: 30px;
    }

    .email {
      max-width: 500px;
      min-width: 80px;
      height: 30px;
    }

    .privacy-check {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 10px;


      input[type='checkbox'] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
      }

      .custom-checkbox {
        width: 20px;
        height: 20px;
        border: 1.5px solid #3DCFB6;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        aspect-ratio: 1;

        &:hover {
          cursor: pointer;
        }

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          background-color: #3DCFB6;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
      }

      input:checked+.custom-checkbox::after {
        opacity: 1;
      }
    }


    p {
      color: white;
      margin: 0;
      pointer-events: none;
    }

    a {
      color: #3DCFB6;
      text-decoration: none;
      cursor: pointer;
    }

    .submit-btn {
      background: #3DCFB6;
      color: #096B68;
      font-weight: 600;
      border: none;
      padding: 12px;
      border-radius: 24px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #2bc2a5;
      }

      &:disabled {
        background: gray;
        cursor: not-allowed;
      }
    }





    .btn-send {
      font-size: 12px;
      padding: 6px 14px;
      max-width: 130px;
      gap: 3px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}