<section class="contact-page">
  <div class="contact-content">

    <div class="contact-window">
      <h2 class="contact-headline">Kontakt</h2>

      <div class="contact-body">
        <div class="box-left">
          <h3 class="intro-headline">Lass uns gemeinsam etwas aufbauen</h3>

          <h4 class="sub-headline">Ein Problem zu lösen?</h4>

          <p>
            Ich freue mich über Anfragen – erzähl mir einfach, in welchem Bereich du Unterstützung brauchst.<br />
            Zeig mir dein Vorhaben – und ich zeige dir, wie ich mit klarem Code echten Mehrwert schaffen kann.
            <br><br>
            Du suchst einen Frontend Developer?<br />
            Melde dich!
          </p>

        </div>
        <div class="box-right">



          <form class="contact-form" (ngSubmit)="submitForm()" #form="ngForm" novalidate>

            <input type="text" name="honeypot" tabindex="-1" autocomplete="off" class="honeypot"
              [(ngModel)]="formData.honeypot" />

            <input type="text" name="name" placeholder="Dein Name" required [(ngModel)]="formData.name"
              class="form-field name" />

            <input type="email" name="email" placeholder="Deine Mail" required [(ngModel)]="formData.email"
              class="form-field email" />

            <textarea name="message" placeholder="Deine Nachricht..." required [(ngModel)]="formData.message"
              class="form-field" rows="5"></textarea>

              <label class="privacy-check">
                <input
                  type="checkbox"
                  name="privacy"
                  required
                  [(ngModel)]="formData.privacyAccepted"
                />
                <span class="custom-checkbox"></span>
                <p>
                  Ich habe die <a routerLink="/legal/privacy-policy">Datenschutzerklärung</a> gelesen und stimme der darin
                  beschriebenen Verarbeitung meiner Daten zu.
                </p>
              </label>


            <button class="btn-send" [disabled]="!form.valid || !formData.privacyAccepted || isSending">
              @if (isSending) {
              Wird gesendet…
              } @else {
              Senden <img src="assets/icons/white/send_white.png" alt="Send Icon" />
              }
            </button>
          </form>



        </div>
      </div>
    </div>
  </div>

  <app-footer class="footer-section"></app-footer>
</section>