<section class="contact-page">
  <div class="contact-content">
    <div class="contact-window">
      <h2 class="contact-headline">{{ 'contact.title' | translate }}</h2>
      <div class="contact-body">
        <div class="box-left">
          <h3 class="intro-headline">{{ 'contact.introHeadline' | translate }}</h3>
          <h4 class="sub-headline">{{ 'contact.subHeadline' | translate }}</h4>
          <p [innerHTML]="'contact.introText' | translate"></p>
        </div>
        <div class="box-right">
          <form class="contact-form" #form="ngForm" novalidate>
            <input type="text" name="honeypot" tabindex="-1" autocomplete="off" class="honeypot"
              [(ngModel)]="formData.honeypot" />
            <div class="input-wrapper">
              <input type="text" name="name" [placeholder]="namePlaceholder" required [(ngModel)]="formData.name"
                (ngModelChange)="onInputChange()" class="form-field name" #nameInput="ngModel"
                [class.invalid]="!nameValid && (markTouched || nameInput.touched)" />
              @if (!nameValid && (markTouched || nameInput.touched)) {
              <p class="form-warning">{{ 'contact.nameError' | translate }}</p>
              }
            </div>
            <div class="input-wrapper">
              <input type="email" name="email" class="form-field email" [placeholder]="emailPlaceholder"
                [(ngModel)]="formData.email" (ngModelChange)="onInputChange()" #emailInput="ngModel"
                [class.invalid]="!emailValid && (markTouched || emailInput.touched)" required />

              @if (!emailValid && (markTouched || emailInput.touched)) {
              <p class="form-warning">{{ 'contact.emailError' | translate }}</p>
              }
            </div>
            <div class="input-wrapper">
              <textarea name="message" [placeholder]="messagePlaceholder" required [(ngModel)]="formData.message"
                (ngModelChange)="onInputChange()" class="form-field message" rows="5" maxlength="250"
                #messageInput="ngModel"
                [class.invalid]="!messageValid && (markTouched || messageInput.touched)"></textarea>
              @if (!messageValid && (markTouched || messageInput.touched)) {
              <p class="form-warning">{{ 'contact.messageError' | translate }}</p>
              }
            </div>
            <div class="privacy-check">
              <label [class.invalid]="!formData.privacyAccepted && privacyTouched">
                <input type="checkbox" name="privacy" required [(ngModel)]="formData.privacyAccepted"
                  (change)="onInputChange()" (blur)="privacyTouched = true" #privacyInput="ngModel" />
                <span class="custom-checkbox"></span>
              </label>
              <div class="input-wrapper">
                <p>
                  {{ 'contact.privacyText' | translate }} <a routerLink="/legal/privacy-policy">{{ 'contact.privacyLink'
                    | translate }}</a> {{ 'contact.privacyTextEnd' | translate }}
                </p>
                @if (!formData.privacyAccepted && privacyTouched) {
                <p class="form-warning checkbox-warn">{{ 'contact.privacyWarning' | translate }}</p>
                }
              </div>
            </div>
            <button class="btn-send" [disabled]="isSending || !isFormValid || flyAnimation"
              [class]="{ active: isFormValid }" (click)="validateAndSubmit()">
              @if (isSending) {
              {{ 'contact.sending' | translate }}
              <img src="assets/icons/white/svg/logo_arrow.svg" alt="Send Icon" />
              } @else if (success) {
              {{ 'contact.sent' | translate }}
              <span class="fly-icon">
                <img src="assets/icons/white/svg/logo_arrow.svg" alt="Send Icon" />
              </span>
              } @else {
              {{ 'contact.send' | translate }}
              <img src="assets/icons/white/svg/logo_arrow.svg" alt="Send Icon" />
              }
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="footer-section" [scrolledAway]="sectionObserver.currentSection() !== 'contact'"></app-footer>
</section>