<section class="tools-page" aria-labelledby="tools-heading">
  <div class="tools-content">
    <div class="tools-window">
      @if (hoveredTooltipText && isMobileView) {
      <div class="floating-tooltip fixed-tooltip" role="tooltip">
        {{ hoveredTooltipText }}
      </div>
      }
      <h2 class="tools-headline" id="tools-heading">
        {{ 'tools.headline' | translate }}
      </h2>
      <div class="tools-body">
        <div class="box-left-icons">
          <div class="tools-icon-groups">
            <div class="tools-icon-line">
              @for (icon of toolIcons.slice(0, 5); track icon.icon) {
              <div class="tool-box" tabindex="0" role="img" [attr.aria-label]="icon.alt | translate"
                (mouseenter)="onTooltipEnter($event, icon.alt, icon.name)" (mouseleave)="onMouseLeaveTooltip()">
                <img [src]="icon.icon" [attr.alt]="icon.alt | translate" />
              </div>
              }
            </div>
            <div class="tools-icon-line">
              @for (icon of toolIcons.slice(5, 10); track icon.icon) {
              <div class="tool-box" tabindex="0" role="img" [attr.aria-label]="icon.alt | translate"
                (mouseenter)="onTooltipEnter($event, icon.alt, icon.name)" (mouseleave)="onMouseLeaveTooltip()">
                <img [src]="icon.icon" [attr.alt]="icon.alt | translate" />
              </div>
              }
            </div>
            <div class="tools-icon-line">
              @if (showExtraTools) {
              <div class="extra-tool-wrapper" aria-label="Extra Tools">
                <div class="img-extra">
                  @for (extra of extraTools; track extra.icon) {
                  <div class="extra-icon" tabindex="0" role="img" [attr.aria-label]="extra.alt | translate"
                    (mouseenter)="onTooltipEnter($event, extra.alt, '')" (mouseleave)="onMouseLeaveTooltip()">
                    <img [src]="extra.icon" [attr.alt]="extra.alt | translate" />
                  </div>
                  }
                </div>
              </div>
              }
              @for (icon of toolIcons.slice(10); track icon.icon) {
              @if (icon.name === 'school') {
              <div class="tool-box school-box" role="button" tabindex="0" [attr.aria-pressed]="showExtraTools"
                [attr.aria-label]="icon.alt | translate" (click)="onIconClick(icon)" (keydown)="onKeyDown($event, icon)"
                (mouseenter)="onTooltipEnter($event, icon.alt, icon.name)" (mouseleave)="onMouseLeaveTooltip()">
                <img [src]="icon.icon" [attr.alt]="icon.alt | translate" />
              </div>
              } @else {
              <div class="tool-box" role="img" tabindex="0" [attr.aria-label]="icon.alt | translate"
                (click)="onIconClick(icon)" (mouseenter)="onTooltipEnter($event, icon.alt, icon.name)"
                (mouseleave)="onMouseLeaveTooltip()">
                <img [src]="icon.icon" [attr.alt]="icon.alt | translate" />
              </div>
              }
              }
            </div>
            <div class="tools-icon-line">
              @for (icondesign of toolIconsDesign; track icondesign.icon) {
              <div class="tool-box tool-box-design" tabindex="0" role="img"
                [attr.aria-label]="icondesign.alt | translate" (mouseenter)="onTooltipEnter($event, icondesign.alt, '')"
                (mouseleave)="onMouseLeaveTooltip()">
                <img [src]="icondesign.icon" [attr.alt]="icondesign.alt | translate" />
              </div>
              }
            </div>
          </div>
        </div>
        <div class="tools-text" tabindex="0">
          <div class="box" aria-labelledby="tools-box1">
            <p tabindex="0" id="tools-box1" [innerHTML]="'tools.textBox1' | translate"></p>
          </div>
          <div (click)="scrollToContact($event)" class="box missing" aria-labelledby="tools-box2">
            <span tabindex="0" id="tools-box2">{{ 'tools.missingHeadline' | translate }}</span>
            <p tabindex="0">{{ 'tools.missingText' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>