:host {
  position: relative;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  img {
    height: 85px;
    width: auto;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }
}

@media screen and (max-width: 870px) {
  header {
    align-items: flex-start;

    img {
      height: 60px;
    }
  }
}