@import "../../../assets/styles/mixins.scss";

.navbar {
  @include dFlex-center();
  margin-top: 0px;
  padding: 5px;
  gap: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 64px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0 2px;
  position: relative;

  .active-indicator {
    position: absolute;
    z-index: 0;
    bottom: -1.5px;
    left: -2px;
    height: 40px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  li {
    display: flex;
  }

  a {
    position: relative;
    z-index: 1;
    min-width: 90px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 32px;
    font: 100 12px 'Inter', sans-serif;
    transition: background 0.3s, color 0.3s;

    &:hover {
      color: #3DCFB6;
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }

    &:focus-visible {
      outline: 2px solid #3DCFB6;
      outline-offset: 1px;
    }

    &.active {
      color: #3DCFB6;
    }
  }

  .contact-btn {
    background-color: #129990;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;

    &:hover {
      background-color: #3DCFB6;
      color: #096B68;
    }

    &.active {
      background-color: #3DCFB6;
      color: #096B68;
    }
  }
}

.burger-menu {
  @include dFlex-center();
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;

  span {
    display: block;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    box-shadow:
      0 -8px 0 0 white,
      0 8px 0 0 white;
    position: relative;
    transition: all 0.3s ease;
  }

  &.open span {
    width: 18px;
    height: 2px;
    background: white;
    border-radius: 2px;
    box-shadow: none;
    transform: rotate(45deg);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 2px;
      background: white;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &::before {
      transform: rotate(-90deg);
    }

    &::after {
      display: none;
    }
  }
}

.box-link,
.box-link-nav-mobile {
  @include dFlex-center();
  position: relative;
  margin-top: 15px;
  margin-right: 10px;
  gap: 10px;
  width: 172px;
  height: 47px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);

  button {
    cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;

    &:hover {
      border: 2px solid #3DCFB6;
    }

    span {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }
  }

  a {
    @include dFlex-center();
  }

  img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 870px) {

  .box-link-nav-mobile {
    margin-top: 0px;
    margin-right: 0px;
  }

}

@media screen and (max-width: 800px) {

  .box-link-nav-mobile {
    margin-top: 10px;
    margin-right: 5px;
  }

}

@media screen and (max-width: 390px) {

  .box-link-nav-mobile {
    width: 149px;
    height: 40px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .burger-menu {
    width: 27px;
    height: 27px;

    span {
      width: 5px;
      height: 5px;
      box-shadow:
        0 -7px 0 0 white,
        0 7px 0 0 white;
    }

    &.open span {
      width: 14px;
      height: 2px;

      &::before {
        width: 12px;
        height: 2px;
      }
    }
  }

}