.navbar {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 64px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  gap: 5px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0 2px;
  position: relative;

  .active-indicator {
    position: absolute;
    height: 38px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 0;
    bottom: -1px;
    left: -1px;
  }

  li {
    display: flex;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 32px;
    transition: background 0.3s, color 0.3s;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    z-index: 1;


    &:hover {
      color: #3DCFB6;
    }

    &.active {
      color: #3DCFB6;
    }
  }

  .contact-btn {
    background-color: #129990;
    color: white;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 20px;
    border-radius: 32px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;

    &:hover {
      background-color: #3DCFB6;
      color: #096B68;
      border: 1px solid rgba(255, 255, 255, 0.25);
    }

    &.active {
      color: #096B68;
      background-color: #3DCFB6;
    }
  }
}


.mobile-menu-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 250px;
  position: fixed;
  top: 70px;
  right: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 12px;
  z-index: 100;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.3s ease-out;

  .mobile-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 15px;

    li a {
      color: white;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: #3DCFB6;
      }
    }

    .contact-btn-mobile {
      background-color: #129990;
      color: white;
      font-weight: 500;
      border: 1px solid rgba(255, 255, 255, 0.25);
      padding: 10px 20px;
      border-radius: 32px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
      transition: all 0.3s ease;
      font-size: 14px; // oder wie du willst

      &:hover {
        background-color: #3DCFB6;
        color: #096B68 !important;
        border: 1px solid rgba(255, 255, 255, 0.25);
      }

      &.active {
        color: #096B68;
        background-color: #3DCFB6;
      }
    }

  }
}

.burger-menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  height: 45px;
  width: 45px;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.2);

  img {
    height: 22px;
    width: 22px;
    object-fit: contain;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}