@if (!isMobileView) {
<nav class="navbar">
  <ul class="nav-list">
    @if (showIndicator()) {
    <div class="active-indicator" [style.transform]="'translateX(' + activePos().left + 'px)'"
      [style.width.px]="activePos().width">
    </div>
    }
    @for (item of navItems; track item.path) {
    <li>
      <a #navLink routerLink="{{ item.path }}" routerLinkActive="active">
        {{ item.label() }}
      </a>
    </li>
    }
    <li>
      <a routerLink="/contact" routerLinkActive="active" class="contact-btn">
        {{ translate.contact }}
      </a>
    </li>
  </ul>
  <app-lang-switch [currentLanguage]="language()" (languageChanged)="setLanguage($event)">
  </app-lang-switch>

</nav>
}

@if (isMobileView) {
<div class="box-link">
  <app-links-img></app-links-img>

  <button class="burger-menu" [class.open]="mobileMenuOpen" (click)="emitToggleMenu()">
    <span></span>
  </button>


</div>
}