<section [class]="['background-pic', getBackgroundClass()]">
  <div class="background-fader" [class.active]="isFading"></div>
  <div class="background-gradient">
    <div class="glass-background-style">
      @if (shouldShowHeader()) {
      <app-header [mobileMenuOpen]="mobileMenuOpen" [isMobileView]="isMobileView" (toggleMenu)="toggleMobileMenu()"
        (forceCloseMenu)="mobileMenuOpen = false"></app-header>
      <main class="main-content scrollable" [class.blur-scroll]="projectDialog.dialogOpen()">
        <app-scroll-page></app-scroll-page>
      </main>
      } @else {
      <main class="main-content no-scroll">
        <router-outlet></router-outlet>
      </main>
      }
    </div>
  </div>
  @if (isMobileView && (mobileMenuOpen || animationState === 'closing') && shouldShowHeader()) {
  <app-mobile-popout [mobileMenuOpen]="mobileMenuOpen" [translate]="translations[language]" [language]="language"
    [animationState]="animationState" (toggleMenu)="toggleMobileMenu()" (setLanguage)="setLanguage($event)">
  </app-mobile-popout>
  }
  @if (projectDialog.dialogOpen()) {
  <app-project-dialog [project]="projectDialog.currentProject()!" [allProjects]="projectDialog.allProjects()"
    [show]="true" (close)="closeGlobalDialog()" />
  }
</section>