<section [class]="['background-pic', getBackgroundClass()]">
  <div class="background-gradient">
    <div class="glass-background-style">

      @if (shouldShowHeader()) {
      <app-header [mobileMenuOpen]="mobileMenuOpen" [isMobileView]="isMobileView" (toggleMenu)="toggleMobileMenu()"
        (forceCloseMenu)="mobileMenuOpen = false" [currentSection]="currentSection()"></app-header>

      <main class="main-content scrollable" [class.blur-scroll]="projectDialog.dialogOpen()">
        <app-scroll-page (sectionChanged)="onSectionChanged($event)" />
      </main>


      } @else {
      <main class="main-content no-scroll">
        <router-outlet></router-outlet>
      </main>
      }



    </div>
  </div>

  @if (isMobileView && (mobileMenuOpen || animationState === 'closing') && shouldShowHeader()) {
  <app-mobile-popout [mobileMenuOpen]="mobileMenuOpen" [translate]="translations[language]" [language]="language"
    [animationState]="animationState" (toggleMenu)="toggleMobileMenu()" (setLanguage)="setLanguage($event)">
  </app-mobile-popout>
  }

  @if (projectDialog.dialogOpen()) {
  <div class="global-dialog-overlay" (click)="closeGlobalDialog()"></div>
  <app-project-dialog [project]="projectDialog.currentProject()!" [allProjects]="projectDialog.allProjects()"
    [show]="true" (close)="closeGlobalDialog()" (changeProject)="projectDialog.change($event)" />
  }

</section>