<section class="background-pic">
  <div class="background-gradient">
    <div class="glass-background-style">
      <app-header
      [mobileMenuOpen]="mobileMenuOpen"
      [isMobileView]="isMobileView"
      (toggleMenu)="toggleMobileMenu()"
      (forceCloseMenu)="mobileMenuOpen = false">
    </app-header>


      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  @if (isMobileView && mobileMenuOpen) {
  <app-mobile-popout
  [mobileMenuOpen]="mobileMenuOpen"
  [translate]="translations[language]"
  [language]="language"
  (toggleMenu)="toggleMobileMenu()"
  (setLanguage)="setLanguage($event)">
  </app-mobile-popout>
  }
</section>