<div class="global-dialog-overlay" (click)="onClose()"></div>
<div class="dialog-window" role="dialog" aria-modal="true" tabindex="-1">
  <div class="box">
    <div class="box-header">
      <button class="close-button" aria-label="Dialog schließen" (mouseenter)="onHoverClose(true)"
        (mouseleave)="onHoverClose(false)" (click)="onClose()">
        <img [src]="iconClose" alt="Close Dialog" />
      </button>
    </div>
    <div class="info-box">
      <div class="project-info">
        <h3>{{ project.title | translate }}</h3>
        <p>{{ project.dialogDescription | translate }}</p>
      </div>
      <div class="project-image">
        <img [src]="project.image" alt="{{ project.title | translate }}" />
      </div>
    </div>
    <div class="project-icons">
      @for (icon of project.iconsDialoge; track icon) {
      <img [src]="icon" [alt]="'Icon für Projekt ' + (project.title | translate)" />
      }
    </div>
  </div>
  <div class="dialog-nav">
    @if (!isFirst) {
    <button class="nav-button" (mouseenter)="onHoverLeft(true)" (mouseleave)="onHoverLeft(false)"
      (click)="previousProject()">
      <img [src]="iconLeft" alt="Previous Project" />
    </button>
    } @else {
    <span class="nav-placeholder"></span>
    }
    <div class="project-buttons">
      @if (project.github) {
      <div class="border-git" (mouseenter)="isGitHovered = true" (mouseleave)="isGitHovered = false">
        <a [href]="project.github" target="_blank" rel="noopener noreferrer">
          Github
          <img [src]="isGitHovered
        ? 'assets/icons/green/svg/logo_github_green.svg'
        : 'assets/icons/white/svg/logo_github_white.svg'" alt="GitHub" />
        </a>
      </div>
      }
      @if (project.live && project.title !== 'Portfolio') {
      <div class="border-live">
        <a [href]="project.live" target="_blank" rel="noopener noreferrer">
          Live Test
        </a>
      </div>
      }
    </div>
    @if (!isLast) {
    <button class="nav-button" (mouseenter)="onHoverRight(true)" (mouseleave)="onHoverRight(false)"
      (click)="nextProject()">
      <img [src]="iconRight" alt="Next Project" />
    </button>
    } @else {
    <span class="nav-placeholder"></span>
    }
  </div>
</div>