<section class="dialog-page">
  <div class="dialog-content">
    <div class="dialog-window">

      <div class="box">

        <div class="box-header">
          <button class="close-button" (click)="onClose()">
            <img src="./../../../../assets/icons/white/closed_white.png" alt="Close Dialog" />
          </button>
        </div>

        <div class="info-box">
          <div class="project-info">
            <h3>{{ project.title }}</h3>
            <p>{{ project.dialogDescription }}</p>
          </div>
          <div class="project-image">
            <img [src]="project.image" alt="{{ project.title }}" />
          </div>
        </div>

        <div class="project-icons">
          @for (icon of project.iconsDialoge; track icon) {
          <img [src]="icon" [alt]="project.title + ' Icon'" />
          }
        </div>

      </div>

      <div class="dialog-nav">

        @if (!isFirst) {
        <button class="nav-button left" (click)="previousProject()">
          <img src="./../../../../assets/icons/white/left_white.png" alt="Previous Project" />
        </button>
        } @else {
        <span class="nav-placeholder"></span>
        }

        <div class="project-buttons">

          @if (project.github) {
          <div class="border-git">
            <a class="btn-git" [href]="project.github" target="_blank" rel="noopener noreferrer">
              GitHub
              <img src="./../../../../assets/icons/white/github_white.png" alt="GitHub" />
            </a>
          </div>
          }

          @if (project.live && project.title !== 'Portfolio') {
          <div class="border-live">
            <a class="btn-live" [href]="project.live" target="_blank" rel="noopener noreferrer">
              Live Test
            </a>
          </div>
          }

        </div>

        @if (!isLast) {
        <button class="nav-button" (click)="nextProject()">
          <img src="./../../../../assets/icons/white/right_white.png" alt="Next Project" />
        </button>
        } @else {
        <span class="nav-placeholder"></span>
        }

      </div>

    </div>
  </div>
</section>