@for (id of sectionIds; track id) {
<section [id]="id" class="section-box">
  <div class="section-inner" [class.in-view]="sectionObserver.currentSection() === id">
    @switch (id) {
    @case ('home') {
    <app-landing
  [scrolledAway]="sectionObserver.currentSection() !== 'home'"
  [isAppReadyForTransition]="isAppReadyForTransition" />

    }
    @case ('about') {
    <app-about-me />
    }
    @case ('skills') {
    <app-skills />
    }
    @case ('projects') {
    <app-projects />
    }
    @case ('feedbacks') {
    <app-feedback></app-feedback>
    }
    @case ('contact') {
    <app-contact (quantumPingTriggered)="triggerQuantumPingFromScrollPage()" />
    }
    }
  </div>
</section>
}