@for (id of sectionIds; track id) {
  <section
    [id]="id"
    class="section-box"
    [class.in-view]="sectionObserver.currentSection() === id"
  >
    @switch (id) {
      @case ('home') {
        <app-landing [scrolledAway]="sectionObserver.currentSection() !== 'home'" />
      }
      @case ('about') {
        <app-about-me />
      }
      @case ('skills') {
        <app-skills />
      }
      @case ('projects') {
        <app-projects />
      }
      @case ('feedbacks') {
        <app-feedbacks />
      }
      @case ('contact') {
        <app-contact />
      }
    }
  </section>
}
