@if (translate) {
  <div class="mobile-popout" [class]="{
    'open': animationState === 'open',
    'closing': animationState === 'closing'
  }">
  <ul class="mobile-popout-list">
    <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMobileMenu()">{{ translate.home }}</a></li>
    <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMobileMenu()">{{ translate.about }}</a></li>
    <li><a routerLink="/skills" routerLinkActive="active" (click)="toggleMobileMenu()">{{ translate.skills }}</a></li>
    <li><a routerLink="/projects" routerLinkActive="active" (click)="toggleMobileMenu()">{{ translate.projects }}</a></li>
    <li><a routerLink="/feedbacks" routerLinkActive="active" (click)="toggleMobileMenu()">{{ translate.feedbacks }}</a></li>
  </ul>

  <a routerLink="/contact" routerLinkActive="active" (click)="toggleMobileMenu()" class="contact-btn-mobile">
    {{ translate.contact }}
  </a>

  <div class="mobile-lang-switch">
    <app-lang-switch [currentLanguage]="language" (languageChanged)="changeLanguage($event)">
    </app-lang-switch>
  </div>
</div>
}