<section class="project-page">
  <div class="project-content">
    <div class="project-window">
      <h2 class="project-headline">{{ 'projects.title' | translate }}</h2>
      <p class="subtitle-project">{{ 'projects.subtitle' | translate }}</p>
      <div class="project-body">
        <div class="project-text">
          <div class="box">
            @for (project of projects; track project.title) {
              <div class="projects-list" (click)="openDialog(project)">
                <div class="project-info">
                  <h3>{{ project.title | translate }}</h3>
                  <div class="mobileOnly ">
                    <p>{{ project.description | translate }}</p>
                  </div>
                </div>
                <div class="project-icons">
                  <div class="desktopOnly">
                    <p>{{ project.description | translate }}</p>
                  </div>
                  @for (icon of project.icons; track icon) {
                    <div class="project-small-icons">
                      <img [src]="icon" alt="Projekt Icon" />
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>