@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/font-types.scss";

.project-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 200px);
  height: 100%;

  .project-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 100%;
  }

  .project-headline {
    margin-left: 5px;
    color: #3DCFB6;
    text-shadow: 0 0 10px black;
    width: 100%;
  }

  .project-body {
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.218);
      padding: 20px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.subtitle-project {
  margin: 12px;
}

.project-text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  width: 100%;

  ul {
    list-style: none;
  }
}

.projects-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 5px;
  transition: transform 0.2s ease;
  outline: none;



  &:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
  }

  &:focus {
    outline: 2px solid #3DCFB6;
    outline-offset: 4px;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    text-shadow: 0 0 10px black;

    &:hover {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }

  }

  p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    color: #ccc;
    margin: 0;

    &:hover {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }
  }
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &:hover {
    cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
  }

  .project-small-icons {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    aspect-ratio: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }
  }

  img {
    width: 25px;
    height: 25px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));

    &:hover {
      cursor: url('./../../../assets/icons/cursor/cursor_pointer.cur') 0 0, pointer;
    }

  }
}

.project-window {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-height: calc(100dvh - 64px);
  max-width: 700px;
  width: 100%;

  h2.project-headline {
    width: 100%;
  }

  p {
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.4;
    font-weight: 300;
    color: #ddd;
  }
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

@media screen and (max-width: 820px) {
  .project-page {
    .project-content {
      padding: 0;
    }

    .project-headline {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .project-body .box {
      gap: 10px;
      width: 100%;
      padding: 10px !important;
      height: auto !important;
      border-radius: 20px;
    }
  }

  .project-window {
    padding: 10px !important;
    border-radius: 20px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .project-window {
    padding: 10px !important;
    border-radius: 20px;
  }
}

@media screen and (max-width: 455px) {

  .mobileOnly,
  .desktopOnly {
    display: none;
  }

  .projects-list {
    padding: 10px 18px;
    border-radius: 25px;
  }
}