<section class="imprint-box-background">
  <div class="imprint-box-header">
    <a routerLink="/contact"><img src="../../../../assets/icons/white/left_white.png"></a>
    <div class="header-title">
      <p class="title"><strong>Impressum</strong></p><p class="subtitle">- Angaben gemäß §5 TMG</p>
    </div>
  </div>
  <div class="imprint-box">
    <p> Jonathan Michutta<br>
      Frontend Developer & Mediendesigner<br>
      (München – Adresse auf Anfrage) <br><br>

      <strong>Kontakt:</strong><br>
      front-dev&#64;jonathan-michutta.de <br>
      https://www.jonathan-michutta.de <br>
      (Telefon auf Anfrage) <br><br>

      <strong>Verantwortlich für den Inhalt nach §55 Abs.2 RStV:</strong><br><br>
      Jonathan Michutta <br>
      front-dev&#64;jonathan-michutta.de <br><br>

      <strong>Urheberrecht:</strong><br>
      Alle Inhalte dieser Website (Texte, Bilder, Grafiken, Logo und Code) unterliegen dem deutschen
      Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung oder Verwendung außerhalb der Grenzen des
      Urheberrechts
      bedarf der schriftlichen Zustimmung des Erstellers.Downloads und Kopien dieser Seite sind nur für den privaten,
      nicht kommerziellen Gebrauch gestattet. <br><br>

      <strong>Haftung für Inhalte:</strong><br>
      Als Diensteanbieter bin ich gemäß §7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
      allgemeinen Gesetzen verantwortlich.Nach §§8 bis 10 TMG bin ich jedoch nicht verpflichtet, übermittelte oder
      gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. <br><br>
      Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen. <br><br>

      <strong>Design & Umsetzung:</strong><br>
      Jonathan Michutta <br>
      Alle Gestaltungselemente dieser Website – insbesondere Logo, Struktur und
      UI-Stil – wurden eigenständig entworfen und umgesetzt.<br>
      Hinweis zu Icons:<br>
      Einige der verwendeten Icons basieren auf Vorlagen, die im Rahmen meiner Fortbildung bei der
      Development Academy bereitgestellt wurden.Sie dienen ausschließlich zur Veranschaulichung der verwendeten
      Technologien und verfolgen keine kommerzielle Nutzung oder markenrechtliche Darstellung
    </p>
  </div>
</section>