@import "./assets/styles/mixins.scss";
@import "./assets/styles/fonts.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  overflow-x: hidden !important;
}

app-mobile-popout {
  position: fixed !important;
  z-index: 10000 !important;
  top: 60px;
  right: 16px;
}
