@keyframes textWave {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

h1 {
  font-size: clamp(1.68rem, 7vw, 10rem);
  font-weight: 500;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-align: center;
  background-image: linear-gradient(270deg,
      #3DCFB6,
      #75d0cd,
      rgba(51, 238, 207, 0.776),
      rgba(61, 207, 182, 0.8),
      #3DCFB6,
      #2ab8b3,
      rgb(80, 229, 204),
      rgba(61, 207, 182, 0.8),
      #3DCFB6,
    );
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: textWave 15s ease-in-out infinite;
  text-shadow:
    0 1px 0 #00000011,
    0 4px 3px rgba(0, 0, 0, 0.3);

  &:hover {
    animation-duration: 3s;
  }
}



h2 {
  font-size: clamp(1.5rem, 4vw, 4rem);
  margin-top: 20px;
  color: rgb(212, 212, 212);
  text-shadow:
    0 2px 0 #000,
    0 4px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

@media screen and (max-width: 500px) {

  h2 {
    margin-top: 5px;
  }

}

h3 {
  font-size: clamp(1.3rem, 3vw, 3rem);
  margin: 0;
  text-shadow:
    0 2px 0 #000,
    0 4px 3px rgba(0, 0, 0, 0.3);
  color: rgb(212, 212, 212);
  font-family: 'Amatic SC', sans-serif;
  font-weight: 100;
}

h4 {
  font-size: clamp(1.7rem, 4vw, 3rem);
  margin: 5px 0 10px 10px;
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
  font-weight: 700;
}

h5 {
  font-size: clamp(1.66rem, 3vw, 2.5rem);
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
}

@media screen and (max-width: 915px) {

  h5 {
    margin: 0 0 5px 0;
  }

}

h6 {
  font-size: clamp(0.739rem, 3vw, 1.2rem);
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
}

p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 300;
  color: white;
  margin: 0;
}