@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amatica SC';
  src: url('/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo_2/static/Exo2-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.code-angle {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  letter-spacing: -0.7px;
  vertical-align: 2px;
}