@keyframes textWave {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

h1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-height: calc(100dvh - 64px);
  font-size: clamp(1.45rem, 7vw, 10rem);
  font-weight: 500;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-align: center;
  background-image: linear-gradient(270deg,
      #72ffe8,
      #82eae7,
      rgb(75, 255, 225),
      rgb(71, 234, 207),
      #3DCFB6,
      #2ec8c3,
      rgb(80, 229, 204),
      rgba(82, 231, 206, 0.8),
      #b6fbed,
    );
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textWave 15s ease-in-out infinite;
  text-shadow:
    0 5px 5px #81818111,
    0 4px 3px rgba(0, 0, 0, 0.1);

  &:hover {
    animation-duration: 3s;
    text-shadow: 0 0 8px #6fffdc;
    transition: text-shadow 0.3s ease-in-out;
  }

  &:focus-visible {
    outline-offset: 3px;
    outline: 2px solid #3DCFB6;
  }
}

@media screen and (max-width: 502px) {

  h1 {
    border-radius: 10px;
    padding: 5px;
  }

}

h2 {
  font-size: clamp(0.94rem, 4vw, 3rem);
  color: rgb(255, 255, 255);
  text-shadow:
    0 2px 0 #000,
    0 4px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 502px) {

  h2 {
    margin-top: 5px;
  }

}

h3 {
  font-size: clamp(0.7rem, 4vw, 1rem);
  margin: 0;
  text-shadow:
    0 2px 0 #000,
    0 4px 3px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 35px;
}

h4 {
  font-size: clamp(1.7rem, 4vw, 3rem);
  margin: 5px 0 10px 10px;
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
  font-weight: 700;
}

h5 {
  font-size: clamp(1.66rem, 3vw, 2.5rem);
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
}

@media screen and (max-width: 915px) {

  h5 {
    margin: 0 0 5px 0;
  }

}

h6 {
  font-size: clamp(0.739rem, 3vw, 1.2rem);
  color: #3DCFB6;
  text-shadow: 0 0 10px black;
}

p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 300;
  color: white;
  margin: 0;
}