<footer aria-describedby="footer-desc" tabindex="0" class="footer" role="contentinfo" [class.visible]="isVisible"
  #footerElement>
  <p id="footer-desc" class="visually-hidden">
    {{ 'footer.ariaDescription' | translate }}
  </p>
  <div class="footer-content">
    <div class="info-box">
      <span>
        <img tabindex="0" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false"
          (touchstart)="isHovered = true" (touchend)="isHovered = false" (click)="scrollToHome($event)"
          (touchend)="onTouchScrollToHome($event)" (keydown.enter)="scrollToHome($event)" role="img" [src]="isHovered
      ? './../../../assets/icons/green/svg/LogoJM_green.svg'
      : './../../../assets/icons/white/svg/LogoJM_white.svg'" [attr.alt]="'logo.alt' | translate"
          [attr.aria-label]="'logo.homeLabel' | translate" />
        {{ 'footer.copyright' | translate }}
      </span>
      <div class="data-box">
        <div class="footer-links" role="navigation" aria-label="Footer Navigation">
          <a [routerLink]="['/imprint']" [attr.aria-label]="'footer.imprint' | translate">
            {{ 'footer.imprint' | translate }}
          </a>
          <a [routerLink]="['/privacy-policy']" [attr.aria-label]="'footer.privacy' | translate">
            {{ 'footer.privacy' | translate }}
          </a>
        </div>
      </div>
      <div class="box-link dNone">
        <app-links-img context="contact" [isEmailVisible]="showEmail" [showCopyDialog]="showCopyDialog"
          (mailClicked)="toggleEmail()"></app-links-img>
      </div>
    </div>
  </div>
</footer>




<div class="dialog-copy" tabindex="-1" [class.visible]="showCopyDialog" role="status" aria-live="polite">
  <span>{{ 'footer.copied' | translate }}</span>
  <svg class="check-icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M5 13l4 4L19 7" stroke="#096B68" stroke-width="4" fill="none" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</div>
<div #mailWrapper class="mail-wrapper" [class.visible]="showEmail">
  <a class="mail-text" [attr.tabindex]="showEmail ? '0' : '-1'" [attr.aria-hidden]="!showEmail"
    [attr.aria-label]="'landing.mailLabel' | translate" href="mailto:front-dev@jonathan-michutta.de">
    front-dev&#64;jonathan-michutta.de
  </a>
  <div class="tooltip-container" [class.tooltip-disabled]="showCopyDialog">
    <button class="copy-btn" [attr.aria-describedby]="'copyTooltipFooter'" (click)="copyEmail()"
      [class.clicked]="emailCopied" [attr.tabindex]="showEmail ? '0' : '-1'" [attr.aria-hidden]="!showEmail"
      [attr.aria-label]="'landing.copyAria' | translate">
      <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <rect x="9" y="9" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" />
        <rect x="3" y="3" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" opacity="0.5" />
      </svg>
    </button>
    <span class="tooltip-text" id="copyTooltipFooter">{{ 'landing.copyTooltip' | translate }}</span>
  </div>
</div>