<footer class="footer">
  <div class="footer-content">

    <div class="info-box">
      <span><img src="assets/icons/white/svg/logo_jm.svg">{{ 'footer.copyright' | translate }}</span>

      <div class="data-box">
        <div class="footer-links">
          <a routerLink="/legal/imprint">{{ 'footer.imprint' | translate }}</a>
          <a routerLink="/legal/privacy-policy">{{ 'footer.privacy' | translate }}</a>

        </div>

      </div>

      <div class="box-link dNone">
        <app-links-img context="contact" [isEmailVisible]="showEmail" [showCopyDialog]="showCopyDialog" (mailClicked)="toggleEmail()"></app-links-img>
      </div>
    </div>
  </div>

</footer>






<div class="dialog-copy" [class.visible]="showCopyDialog">
  <span>{{ 'footer.copied' | translate }}</span>
  <svg class="check-icon" viewBox="0 0 24 24">
    <path d="M5 13l4 4L19 7" stroke="#096B68" stroke-width="4" fill="none" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</div>


<div #mailWrapper class="mail-wrapper" [class.visible]="showEmail">
  <span class="mail-text">{{ 'front-dev@jonathan-michutta.de' }}</span>


    <div class="tooltip-container" [class.tooltip-disabled]="showCopyDialog">
      <button class="copy-btn" (click)="copyEmail()" [class.clicked]="emailCopied"
        [attr.aria-label]="'landing.copyAria' | translate">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="9" y="9" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" />
          <rect x="3" y="3" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" opacity="0.5" />
        </svg>
      </button>
      <span class="tooltip-text">{{ 'landing.copyTooltip' | translate }}</span>
    </div>

</div>