<footer class="footer">
  <div class="footer-content">



    <!-- <img src="assets/icons/white/logo_JM_white.png"> -->
    <div class="info-box">
      <span><img src="assets/icons/white/logo_JM_white.png">© Code & Design by Jonathan Michutta 2025  </span>

      <div class="data-box">
        <div class="footer-links">
          <a href="/impressum">Impressum</a>
          <a href="/datenschutz">Datenschutzerklärung</a>
        </div>

      </div>

      <div class="box-link dNone">
        <app-links-img [isEmailVisible]="showEmail" (mailClicked)="toggleEmail()"></app-links-img>
      </div>
    </div>
  </div>

</footer>






<div class="dialog-copy" [class.visible]="showCopyDialog">
  <span>Kopiert</span>
  <svg class="check-icon" viewBox="0 0 24 24">
    <path d="M5 13l4 4L19 7" stroke="#096B68" stroke-width="4" fill="none" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</div>


<div #mailWrapper class="mail-wrapper" [class.visible]="showEmail">
  <span class="mail-text">{{ 'front-dev@jonathan-michutta.de' }}</span>


  <button class="copy-btn" (click)="copyEmail()" [class.clicked]="emailCopied" aria-label="E-Mail kopieren">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="9" y="9" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" />
      <rect x="3" y="3" width="13" height="13" rx="2" fill="none" stroke="white" stroke-width="2" opacity="0.5" />
    </svg>
  </button>

</div>