<section class="about-page">
  <div class="about-content">
    <div class="about-window">
      <h2 class="about-headline" i18n>Über mich</h2>
      <div class="about-body">
        <div class="box-left dNone">
          <div class="text-with-image">
            <img src="./../../../assets/images/aboutmepic.png" alt="About Me" class="about-me-image inline-image" />
            <p class="dNone" i18n>
              Mit einem Hintergrund in Mediengestaltung und einem Blick für Struktur
              und Ästhetik entwickle ich Webanwendungen, die technisch durchdacht und visuell klar sind.
            </p>
            <p class="dNone" i18n>
              Ich liebe die Verbindung von Code und Design: sauberes HTML/CSS, performante Architekturen mit Angular und
              ein UI, das sich für Nutzer intuitiv und stimmig anfühlt.
            </p>
            <p class="dNone" i18n>
              Was mich antreibt, ist die Idee, aus Komplexität einfache und elegante Lösungen zu formen.
            </p>
            <p class="tech-claim dNone" i18n>
              Technologien verändern sich – mein Anspruch bleibt:
            </p>
            <blockquote [class]="animationState" i18n>
              {{ currentSlogan }}
            </blockquote>
          </div>
        </div>
        <div class="box-right">
          <p i18n>Mit einem Hintergrund in Mediengestaltung und einem Blick für Struktur und Ästhetik entwickle ich
            Webanwendungen, die technisch durchdacht und visuell klar sind.<br><br>
            Ich liebe die Verbindung von Code und Design: sauberes HTML/CSS, performante Architekturen mit Angular und
            ein
            UI, das sich für Nutzer intuitiv und stimmig anfühlt.<br><br>
            Was mich antreibt, ist die Idee, aus Komplexität einfache und
            elegante Lösungen zu formen.
          </p>
          <p class="tech-claim">
            Technologien verändern sich – mein Anspruch bleibt:
          </p>
          <blockquote [class]="animationState" i18n>
            {{ currentSlogan }}
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>